app-form {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1300px;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 768px) {
  app-form {
      flex-direction: column;
  }
}
